<section class="page-content">
  <h1>Cadastrar Novo Cliente</h1>

    <form action="/clientes" method="POST">
      <input type="text" name="nome" placeholder="Nome do Cliente" required>
      <button type="submit">Cadastrar</button>
    </form>

</section>
