<section class="home">
  <h1>Bem-vindo à LojaFácil</h1>
  <p>Gerencie seus clientes, produtos e vendas com praticidade.</p>

<div class="menu">
    <a href="/clientes" class="menu-btn">Clientes</a>
    <a href="/produtos" class="menu-btn">Produtos</a>
    <a href="/categorias" class="menu-btn">Categorias</a>
    <a href="/fornecedores" class="menu-btn">Fornecedores</a>
    <a href="/funcionarios" class="menu-btn">Funcionários</a>
    <a href="/vendas" class="menu-btn">Vendas</a>
    <a href="/marcas" class="menu-btn">Marcas</a>
</div>

</section>

<style>

  .home {
    text-align: center;
    padding: 50px;
  }

  h2 {
    font-size: 42px; 
    color: #333;
    margin-bottom: 15px;
  }

  descricao {
    font-size: 22px;
    color: #555;
    font-style: italic;
    margin-bottom: 40px;
    background-color: #f9f9f9;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
  }

  .menu-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 6px;
    margin: 10px;
    transition: 0.3s;
  }

  .menu-btn:hover {
    background-color: #ffd369;
    color: #000;
  }

</style>
