@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Playfair+Display:wght@500;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
:root {
    --bege: #f5ecdc; 
    --bege-esc: #d7c9b2;  
    --cinza: #7b7369;   
    --cinza-esc: #4d4845; 
    --esc: #1f1d20;    
    --preto: #000000;
}
html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: var(--bege);
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
            text-align: center;
            margin-top: 50px;
        }

        .site-header {
            background: linear-gradient(90deg, #000000, #000000);
            color: var(--bege);
            padding: 3px 0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        .navbar {
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 20px;
            margin: 0;
            padding: 0;
        }

        .nav-links a {
            text-decoration: none;
            color: var(--bege-esc);
            font-weight: bold;
            transition: color 0.3s ease;
        }

        .nav-links a:hover {
            color: var(--cinza-esc);
        }

        main a {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            background-color: var(--esc);
            color: var(--bege);
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.3s;
        }

        main a:hover {
            background-color: var(--cinza-esc);
            color:#1f1d20;
        }

        footer {
        background: #1f1d20;
        color: var(--bege);
        text-align: center;
        padding: 5px 0;
        margin-top: 40px;
        font-size: 0.9em;
        }

        @media (max-width: 600px) {
            .navbar {
            flex-direction: column;
            text-align: center;
            }

            .nav-links {
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
            }
        }

